
    .tabsJ {
      position:absolute;
      top:33px;
      left:45px;
      right:50px;
      border-bottom:1px solid #24618E;
      }
    .tabsJ ul {
        margin:0;
        padding:10px 10px 0 0px;
        list-style:none;
      }
    .tabsJ li {
      display:inline;
      margin:0;
      padding:0;
      }
    .tabsJ a {
      float:left;
      display:block;
      background:url("#{resource['images:tableftJ.gif']}") no-repeat left top;
      margin:0;
      padding:0 0 0 5px;
      text-decoration:none;
      }
    .tabsJ a span {
      float:left;
      font-size:12px;
      font-weight:bold;
      display:block;
      background:url("#{resource['images:tabrightJ.gif']}") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#24618E;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    .tabsJ a span {float:none;}
    /* End IE5-Mac hack */
    .tabsJ a:hover span {
      color:#FFF;
      }
    .tabsJ a:hover {
      background-position:0% -42px;
      }
    .tabsJ a:hover span {
      background-position:100% -42px;
      }

        .tabsJ #current a {
                background-position:0% -42px;
        }
        .tabsJ #current a span {
                background-position:100% -42px;
                color:#FFF;
        }